body {
  font-family: 'Poppins', sans-serif;
  background-color: #f3f3f4;
}

.btn-primary {
  background-color: #003776;
  border-color: #cc3333;
}

Header {
  background-color: #32353c;
  color: #d7d7d7;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
Footer {
  background-color: #454545;
  color: #d7d7d7;
  padding: 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
